fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-experimental
langchain-groq
faiss-cpu
unstructured
python-docx
pypdf
requests
python-dotenv
google-generativeai
langchain-google-genai
pydantic
typing-extensions
