fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-experimental
langchain-groq
faiss-cpu
python-docx
pypdf
PyMuPDF
requests
python-dotenv
google-generativeai
langchain-google-genai
pydantic
pymongo
langchain-unstructured
unstructured
